---
title: 'Matt Berridge - Freelance front end developer based in Berlin'
layout: default
---
<div class="page page--profile page--header">
  <header class="intro-block intro-block--push">
    <div class="container container--padding">
      <h1>
        Matt Berridge
      </h1>
      <p class="intro-text intro-text--short">Website maker and lover of all things animal, vinyl and bicycle.</p>
    </div>
  </header>
  <div class="intro">
    <div class="container container--padding">
      <p>
        I’m a freelance <strong>front end developer</strong> based in Berlin with a background in modular CSS architecture, but who <strong>writes mostly JavaScript</strong> these days. I've also got a pretty good eye for design both on and off the web.
      </p>
      <p>
        Recently I’ve been working at <a href="https://edenspiekermann.com">Edenspiekermann</a> as the lead developer on a universal JavaScript application using React and Redux, and on a project creating a component library and design system using Fractal.
      </p>
      <p>
        I’d be especially excited to work with you on music or lifestyle orientated projects, as away from the web you’ll find me collecting and playing records, running or riding my bike.
      </p>
    </div>
  </div>
  {% include cv/experience.html %}
  {% include cv/education.html %}
  {% include cv/references.html %}
  {% include cv/contact.html %}
</div>