---
title: 'Matt Berridge - Freelance front end developer based in Berlin'
layout: default
---
<div class="page page--profile page--header">
  <header class="kicker-block kicker-block--push">
    <div class="container container--padding">
      <h1>
        Matt Berridge
      </h1>
      <p class="intro-text intro-text--short">Website maker and lover of all things animal, vinyl and bicycle.</p>
    </div>
  </header>
  <main class="main">
    {% include cv/intro.html %}
    {% include cv/experience.html %}
    {% include cv/education.html %}
    {% include cv/references.html %}
    {% include cv/contact.html %}
  </main>
</div>
