  <section id="education" class="section">
    <div class="container container--padding">
      <h2 class="heading">
        <span>Education</span>
      </h2>
      <div class="section__content">
        <article class="cv-item">
          <header class="hgroup">
            <h3>University of Leeds</h3>
            <p class="hgroup__subtitle">2.1, BA (Hons) New Media</p>
          </header>
          <p>
            Took in web standards, accessibility &amp; usability alongside media and communication theory. Honed cookery skills and became obsessed with electronic music.
          </p>
        </article>
      </div>
    </div>
  </section>
