  <section id="experience" class="section">
    <div class="container container--padding">
      <h2 class="heading">
        <span>Experience</span>
      </h2>
    </div>
    <article class="timeline-item timeline-item--first">
      <div class="timeline-item__inner">
        <div class="container container--padding"">
          <header class="hgroup">
            <h3>Edenspiekermann</h3>
            <p class="hgroup__subtitle">Web Developer</p>
            <span class="timeline-item__date timeline-item__date--start">
              <em class="date">Feb 2017</em>
            </span>
          </header>
          <p>
            Accepted a full-time position and continued to work in agile, cross-competency Scrum teams. During 2015 I was the lead developer a on a large JavaScript-driven project for Swiss national newspaper Aargauer Zeitung. A relaunch of their 8 news portals brought readership up 20% and made them Switzerland’s half-year growth winner.
          </p>
          <p>
            In 2016 I lead the development of an open source petition platform in JavaScript which was themed for the client’s use. My work here formed a baseline for future React projects at Edenspiekermann.
          </p>
        </div>
      </div>
    </article>
    <article class="timeline-item">
      <div class="timeline-item__inner">
        <div class="container container--padding"">
          <header class="hgroup">
            <h3>Self Employed</h3>
            <p class="hgroup__subtitle">Freelance Web Developer</p>
            <span class="timeline-item__date timeline-item__date--start">
              <em class="date">Sep 2014</em>
            </span>
          </header>
          <p>
            Relocated to Berlin from the UK and began life as a freelance front end developer. Formed a connection with Edenspiekermann and worked on Agile projects for Red Bull and Red Bull Music Academy. Later worked with two local interaction designers to launch a website, dashboard and interface for the world's first Bitcoin ATM operator, Lamassu. 
          </p>
        </div>
      </div>
    </article>
    <article class="timeline-item">
      <div class="timeline-item__inner">
        <div class="container container--padding"">
          <header class="hgroup">
            <h3>Mixd</h3>
            <p class="hgroup__subtitle">Senior Front End Developer</p>
            <span class="timeline-item__date timeline-item__date--start">
              <em class="date">Jan 2013</em>
            </span>
          </header>
          <p>
            Worked my way up to senior level and lead the company in all aspects of Responsive Design including strategy, process, technology and production. I worked extensively with WordPress on information-lead websites for clients in the NHS, healthcare and leisure &amp; tourism.
          </p>
        </div>
      </div>
    </article>
    <article class="timeline-item">
      <div class="timeline-item__inner">
        <div class="container container--padding"">
          <header class="hgroup">
            <h3>Self Employed</h3>
            <p class="hgroup__subtitle">Freelance Web Developer</p>
            <span class="timeline-item__date timeline-item__date--start">
              <em class="date">Jun 2009</em>
            </span>
          </header>
          <p>
            Worked on projects for my own clients and for agencies as a front-end developer. Self-taught WordPress, HTML5/CSS3 and jQuery. Decided I was in it for life!
          </p>
          <span class="timeline-item__date timeline-item__date--end">
            <em class="date">Jun 2008</em>
          </span>
        </div>
      </div>
    </article>
  </section>