<section id="experience" class="section">
  <div class="container container--padding">
    <h2 class="heading">
      <span>Experience</span>
    </h2>
  </div>
  <article class="timeline-item timeline-item--first">
    <div class="timeline-item__inner">
      <div class="container container--padding">
        <header class="hgroup">
          <h3>Matt Boon</h3>
          <p class="hgroup__subtitle">Freelance Web Developer</p>
          <span class="timeline-item__date timeline-item__date--start">
            <em class="date">Today</em>
          </span>
        </header>
        <p>
          During 2017 I worked mostly on interfaces for JavaScript applications
          in React and Redux, using styled components and Storybook to generate
          component libraries.
        </p>
        <p>
          I also helped launch a new site for German artist
          <a href="https://www.jochengerz.eu/">Jochen Gerz</a>, aimed at
          encouraging exploration and user participation. This utilised a React
          and hapi front end with a Craft CMS back end &amp; API to easily
          manage Jochen’s catalogue raisonné, and was completed as part of a
          team at
          <a href="https://www.edenspiekermann.com/projects/jochen-gerz/"
            >Edenspiekermann</a
          >
          and featured on
          <a href="http://brutalistwebsites.com/">Brutalist Websites</a>
        </p>
      </div>
    </div>
  </article>
  <article class="timeline-item">
    <div class="timeline-item__inner">
      <div class="container container--padding">
        <header class="hgroup">
          <h3>Edenspiekermann</h3>
          <p class="hgroup__subtitle">Web Developer</p>
          <span class="timeline-item__date timeline-item__date--start">
            <em class="date">Mar 2017</em>
          </span>
        </header>
        <p>
          Worked in agile teams that embraced code-review culture and the use of
          component libraries &amp; design systems. Coded in JavaScript
          extensively using client and server-side libraries, as well as set up
          continuous integration pipelines using Codeship and Heroku.
        </p>
        <p>
          Lead the development of
          <a href="https://petitio.ch" data-print-text="petitio.ch">Petitio</a>,
          an open source petition platform and universal JavaScript application
          which was themed for the client’s use. Was also lead developer of a
          large JavaScript-driven project for Swiss national newspaper
          <a
            href="https://www.aargauerzeitung.ch"
            data-print-text="aargauerzeitung.ch"
            >Aargauer Zeitung</a
          >, relaunching their 8 news portals.
        </p>
      </div>
    </div>
  </article>
  <article class="timeline-item">
    <div class="timeline-item__inner">
      <div class="container container--padding">
        <header class="hgroup">
          <h3>Self Employed</h3>
          <p class="hgroup__subtitle">Freelance Web Developer</p>
          <span class="timeline-item__date timeline-item__date--start">
            <em class="date">Sep 2014</em>
          </span>
        </header>
        <p>
          Relocated to Berlin from the UK and began life as a freelance front
          end developer. Formed a connection with Edenspiekermann and worked on
          Agile projects for Red Bull and Red Bull Music Academy. Worked with
          two interaction designers to launch a website, dashboard and interface
          for the world's first Bitcoin ATM operator,
          <a href="https://lamassu.is" data-print-text="lamassu.is">Lamassu</a>.
        </p>
      </div>
    </div>
  </article>
  <article class="timeline-item">
    <div class="timeline-item__inner">
      <div class="container container--padding">
        <header class="hgroup">
          <h3>Mixd</h3>
          <p class="hgroup__subtitle">Front End Developer</p>
          <span class="timeline-item__date timeline-item__date--start">
            <em class="date">Jan 2013</em>
          </span>
        </header>
        <p>
          Progressed to senior level and lead the company in all aspects of
          Responsive Design including strategy, process, technology and
          production. Worked extensively with WordPress on information-lead
          websites for clients
          <a
            href="https://www.southtees.nhs.uk"
            data-print-text="southtees.nhs.uk"
            >in the NHS</a
          >, healthcare and leisure &amp; tourism. Mentored interns and taught
          in workshops at Leeds University.
        </p>
        <span class="timeline-item__date timeline-item__date--end">
          <em class="date">Jun 2009</em>
        </span>
      </div>
    </div>
  </article>
  <!--article class="timeline-item">
      <div class="timeline-item__inner">
        <div class="container container--padding">
          <header class="hgroup">
            <h3>Self Employed</h3>
            <p class="hgroup__subtitle">Freelance Web Developer</p>
            <span class="timeline-item__date timeline-item__date--start">
              <em class="date">Jun 2009</em>
            </span>
          </header>
          <p>
            Worked on projects for my own clients and for agencies as a front-end developer. Self-taught WordPress, HTML5/CSS3 and jQuery. Decided I was in it for life!
          </p>
          <span class="timeline-item__date timeline-item__date--end">
            <em class="date">Jun 2008</em>
          </span>
        </div>
      </div>
    </article-->
</section>
