<div class="intro">
  <div class="container container--padding">
    <p>
      I’m a freelance <strong>front end developer</strong> based in Berlin with a background in modular CSS architecture, but who <strong>writes mostly JavaScript</strong> these days. I've also got a pretty good eye for design both on and off the web.
    </p>
    <p>
      Recently I’ve been working at <a href="https://edenspiekermann.com">Edenspiekermann</a> as the lead developer on a universal JavaScript application using React and Redux, and on a project creating a component library and design system using Fractal.
    </p>
    <p>
      I’d be especially excited to work with you on music or lifestyle orientated projects, as away from the web you’ll find me collecting and playing records, running or riding my bike.
    </p>
  </div>
</div>
