<div class="intro">
  <div class="container container--padding">
    <p>
      I’m a freelance <strong>front end developer</strong> based in Berlin with a background in modular CSS architecture, but who <strong>writes mostly JavaScript</strong> these days. I've also got a pretty good eye for design both on and off the web.
    </p>
    <p>
      Recently I’ve been working on a split-stack website for a German artist built in React, Redux and HAPI, using Craft CMS to manage an archive of artworks provided via JSON API.
    </p>
    <p>
      I’d be especially excited to work with you on music or lifestyle orientated projects, as away from the web you’ll find me collecting and playing records, running or riding my bike.
    </p>
    <dl class="short-info" aria-hidden="true">
      <dt class="short-info__title">Website</dt>
      <dd class="short-info__text">mattboon.com</dd>
      <dt class="short-info__title">D.O.B</dt>
      <dd class="short-info__text">16-04-1986</dd>
      <dt class="short-info__title">Nationality</dt>
      <dd class="short-info__text">British</d>
    </dl>
  </div>
</div>
