<div class="intro">
  <div class="container container--padding">
    <p>
      I’m a freelance <strong>front end developer</strong> based in Berlin with a background in modular CSS architecture, but who <strong>writes mostly JavaScript</strong> these days. I've also got a pretty good eye for design both on and off the web.
    </p>
    <p>
      Recently I’ve been working with <a href="https://codersociety.com">Coder Society</a> building their platform for freelancers using Next.js, TypeScript, Styled System and Storybook alongside GraphQL, Apollo, Pact and Strapi.
    <p>
      I’d be especially excited to work with you on music or lifestyle orientated projects, as away from the web you’ll find me collecting and playing records, running or riding my bike.
    </p>
    <dl class="short-info" aria-hidden="true">
      <dt class="short-info__title">Website</dt>
      <dd class="short-info__text">mattboon.com</dd>
      <dt class="short-info__title">Birth date</dt>
      <dd class="short-info__text">16-04-1986</dd>
      <dt class="short-info__title">Nationality</dt>
      <dd class="short-info__text">British</d>
    </dl>
  </div>
</div>
