  <section id="references" class="section">
    <div class="container container--padding">
      <h2 class="heading">
        <span>References</span>
      </h2>
      <div class="section__content">
        <article class="cv-item">
          <header class="hgroup">
            <h3>Richard Bausek</h3>
            <p class="hgroup__subtitle">Director of Development, Edenspiekermann</p>
          </header>
          <dl class="contact-list">
            <dt class="contact-list__title">Phone:</dt>
            <dd class="contact-list__text">+49 3021 28080</dd>
            <dt class="contact-list__title">Email:</dt>
            <dd class="contact-list__text">
              <a href="mailto:r​.bausek@de​.edenspiekermann​.com">r​.bausek@de​.edenspiekermann​.com</a>
            </dd>
          </dl>
        </article>
        <article class="cv-item">
          <header class="hgroup">
            <h3>Phil Shackleton</h3>
            <p class="hgroup__subtitle">Digital Director, Mixd</p>
          </header>
          <dl class="contact-list">
            <dt class="contact-list__title">Phone:</dt>
            <dd class="contact-list__text">+44 1423 598008</dd>
            <dt class="contact-list__title">Email:</dt>
            <dd class="contact-list__text">
              <a href="mailto:p.shackleton@mixd.co.uk">p.shackleton@mixd.co.uk</a>
            </dd>
          </dl>
        </article>
      </div>
    </div>
  </section>
