.heading {
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 1;
  margin-bottom: 50px;
  text-indent: -2px;
  margin-left: -#{spacing('container')};
}

.heading span {
  padding-left: spacing('container');
  padding-right: 20px;
  position: relative;
}

.heading span::after {
  background-color: color('highlight');
  border-bottom: 5px solid color('darken');
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  top: 75%;
  transform: skewY(-5deg);
  transform-origin: 0;
  width: 100%;
  z-index: -1;
}
