.heading {
  font-size: 2em;
  letter-spacing: -0.5px;
  line-height: 1;
  margin-bottom: 1.25em;
  text-indent: -2px;
  margin-left: -#{spacing('container')};
}

.heading span {
  padding-left: spacing('container');
  padding-right: 0.5em;
  position: relative;
}

.heading span::after {
  background-color: color('highlight');
  border-bottom: 5px solid color('darken');
  content: '';
  display: block;
  height: 0.5em;
  position: absolute;
  top: 75%;
  @include transform(skewY(-5deg));
  @include transform-origin(0);
  width: 100%;
  z-index: -1;
}
