.kicker-block {
  @include media('<=500px') {
    font-size: 90%;
  }

  @include media('>1000px') {
    margin-left: -11em;
  }
}

.kicker-block--push {
  margin-bottom: 10%;
}

.kicker-block__wrap {
  @include media('>700px') {
    @include display(flex);
  }
}

.kicker-block__content {
  @include flex(1);
  max-width: 700px;
  margin-right: 2em;
}

.kicker-block__aside {
  @include media('<=700px') {
    @include display(flex);
    @include align-items(center);
  }

  @include media('>700px') {
    max-width: 120px;
    text-align: center;
    @include flex(1);
    margin-left: auto;
  }

  @include media('>1000px') {
    position: relative;
    right: -4.5em;
  }
}

.kicker-block__aside .social-buttons {
  @include media('<=700px') {
    max-width: 200px;
    margin-top: 0.75em;
    margin-right: 0.5em;
  }
}
