$timeline-bullet-size: 20px;
$timeline-left-spacing: $timeline-bullet-size / 2;
$timeline-line-width: 8px;
$timeline-padding-left: 40px;
$timeline-tweakpoint: px-equals-percent(60px, 6%);

.timeline-item {
  @include container(1100px);

  @include media('<=medium') {
    padding-left: 2%;
  }

  @include media('>medium', '<=large') {
    padding-left: 3%;
    padding-right: 3%;
  }

  @include media('>large') {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.timeline-item--first {
  margin-top: 3em;
}

.timeline-item__inner {
  position: relative;


  @include media('<=#{$timeline-tweakpoint}') {
    padding-left: $timeline-padding-left - spacing('container');
  }

  @include media('<=#{$timeline-tweakpoint}') {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @include media('>#{$timeline-tweakpoint}') {
    padding-bottom: 6%;
    padding-top: 6%;
  }
}

.timeline-item__inner::before {
  content: '';
  display: block;
  width: $timeline-line-width;
  height: 100%;
  background-color: color('main');
  position: absolute;
  top: 0;
  left: $timeline-left-spacing;
}

.timeline-item__date {
  display: block;
  position: absolute;
  left: 0;
  padding-left: $timeline-padding-left;
}

.timeline-item__date--start {
  top: 0;
  @include transform(translateY(-50%));
}

.timeline-item__date--end {
  top: auto;
  bottom: 0;
  @include transform(translateY(50%));
}

.timeline-item__date::before {
  width: $timeline-bullet-size;
  height: $timeline-bullet-size;
  @include transform(rotate(28deg) translate(-11px, -$timeline-line-width));
  position: absolute;
  left: $timeline-left-spacing;
  top: 50%;
  content: '';
  display: block;
  background-color: color('highlight');
  z-index: 2;
}
