.clear {
  clear: both;
}

.xl-text {
  font-size: calc(50px + 20vh);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.avatar {
  float: right;
  
  @include media('>small', '<=large') {
    max-width: 150px;
    margin-right: -25px;
  }

  @include media('>large') {    
    margin-right: -32%;
    margin-top: -150px;
    max-width: 250px;
  }
}

.push-top {
  margin-top: 1em;
}
