.clear {
  clear: both;
}

.xl-text {
  font-size: calc(50px + 20vh);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.push-top {
  margin-top: 20px;
}
