$breakpoints: (
  'small': 500px
);

$colors: (
  'main': #262c33, 
  'highlight': #38e4ae,
  'grey': #7f7f7F,
  'lighten': rgba(255, 255, 255, 0.055),
  'darken': rgba(0, 0, 0, 0.055)
);

$spacing: (
  'container': 25px
);

